<h1>Listing prospective_users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prospective_users.each do |prospective_user| %>
      <tr>
        <td><%= prospective_user.first_name %></td>
        <td><%= prospective_user.email %></td>
        <td><%= link_to 'Show', prospective_user %></td>
        <td><%= link_to 'Edit', edit_prospective_user_path(prospective_user) %></td>
        <td><%= link_to 'Destroy', prospective_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospective user', new_prospective_user_path %>
